// doctor page

.doctor-head {
    height: 150px;
    background-color: #00838f;
    margin-top: -22px;
}

.navbar-default {
    height: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: medium;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #777;
    font-size: x-large;
    font-weight: bold;
}

.doctor-search {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 55px;
}

#specialist-panel-heading {
    background-color: #00838f;
}

.sidebar {
    margin-top: 50px;
    font-weight: bold;
}

#sidebar-title {
    background-color: #00838f;
    color: white;
}

//doctor search page

.single-doctor-image {
    height: 150px;
    position: absolute;
}

.doctor-othres {
    margin-left: 170px;
    margin-top: -210px;
    position: absolute;
}

//doctor details and appointment page

//profile part
.doctor-profile-head {
    height: 350px;
    background-color: #00838f;
    margin-top: -22px;
}

.profile-pic {
    text-align: center;
}

.doctor-image {
    height: 200px;
    margin-top: 10px;
    border-radius: 100px;

}

.others {
    color: white;
    text-align: center;
}

.others h3,
h4 {
    font-weight: bold;
}

//deatils part

.doctor-about,
.doctor-chamber,
.appointment-booking {
    margin-top: 50px;
    font-weight: bold;
}

//contact

.contact-head {
    height: 150px;
    background-color: #00838f;
    margin-top: -22px;
}

.contact {
    position: relative;
    text-align: center;
}

.contact h1 {
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.contact h3 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}