.doctor-head {
    height: 150px;
    background-color: #00838f;
    margin-top: -22px;
}

.navbar-default {
    height: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: medium;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #777;
    font-size: x-large;
    font-weight: bold;
}

.doctor-search {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 55px;
}

#specialist-panel-heading {
    background-color: #00838f;
}

.sidebar {
    margin-top: 50px;
    font-weight: bold;  
}

#sidebar-title {
    background-color: #00838f;
    color: white;
}