// doctor page

.doctor-head {
    height: 150px;
    background-color: #00838f;
    margin-top: -22px;
}

.navbar-default {
    height: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: medium;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #777;
    font-size: x-large;
    font-weight: bold;
}

.doctor-search {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 55px;
}

#specialist-panel-heading {
    background-color: #00838f;
}

.sidebar {
    margin-top: 50px;
    font-weight: bold;
}

#sidebar-title {
    background-color: #00838f;
    color: white;
}

//doctor search page

.single-doctor-image {
    height: 150px;
    position: absolute;
}

.doctor-othres {
    margin-left: 170px;
    margin-top: -210px;
    position: absolute;
}

//doctor details and appointment page

//profile part
.doctor-profile-head {
    height: 350px;
    background-color: #00838f;
    margin-top: -22px;
}

.profile-pic {
    text-align: center;
}

.doctor-image {
    height: 200px;
    margin-top: 10px;
    border-radius: 100px;

}

.others {
    color: white;
    text-align: center;
}

.others h3,
h4 {
    font-weight: bold;
}

//deatils part

.doctor-about,
.doctor-chamber,
.appointment-booking {
    margin-top: 50px;
    font-weight: bold;
}

//contact
.contact-head {
    height: 150px;
    background-color: #00838f;
    margin-top: -22px;
}

.contact {
    position: relative;
    text-align: center;
}

.contact h1 {
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.contact h3 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

//hospital
.hospital-panel {
    margin-top: 50px;
}

.hospital-image {
    height: 170px;
    width: 250px;
}

.hospital-deatils {
    position: absolute;
    margin-top: -190px;
    margin-left: 260px;
}

//hospital details
.hospital-profile {
    height: 150px;
    background-color: #00838f;
    margin-top: -22px;
    text-align: center;
    color: white;
}

.hospital-profile h1,
h3 {
    font-weight: bold;
}

.single-hospital-image {
    height: 400px;
    width: 690px;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.hospital-img-panel {
    background-color: #00838f;
    margin-top: 20px;

}

.hospital-img-panel-body {
    text-align: center;
}

//footer
//testing

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

//end of testing